/logs/
/.idea/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/AlgoTrader.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/data/
data/
/data/ACC-15minute-Hist
/data/ADANIENT-15minute-Hist
/data/ADANIPORTS-15minute-Hist
/data/ADANIPOWER-15minute-Hist
/data/AMARAJABAT-15minute-Hist
/data/AMBUJACEM-15minute-Hist
/data/APOLLOHOSP-15minute-Hist
/data/APOLLOTYRE-15minute-Hist
/data/ARVIND-15minute-Hist
/data/ASHOKLEY-15minute-Hist
/data/ASIANPAINT-15minute-Hist
/data/AUROPHARMA-15minute-Hist
/data/AXISBANK-15minute-Hist
/data/BAJAJ-AUTO-15minute-Hist
/data/BAJAJFINSV-15minute-Hist
/data/BAJFINANCE-15minute-Hist
/data/BANKBARODA-15minute-Hist
/data/BANKINDIA-15minute-Hist
/data/BATAINDIA-15minute-Hist
/data/BEL-15minute-Hist
/data/BERGEPAINT-15minute-Hist
/data/BHARATFIN-15minute-Hist
/data/BHARATFORG-15minute-Hist
/data/BHARTIARTL-15minute-Hist
/data/BHEL-15minute-Hist
/data/BIOCON-15minute-Hist
/data/BOSCHLTD-15minute-Hist
/data/BPCL-15minute-Hist
/data/BRITANNIA-15minute-Hist
/data/BSOFT-15minute-Hist
/data/CADILAHC-15minute-Hist
/data/CANBK-15minute-Hist
/data/CASTROLIND-15minute-Hist
/data/CENTURYTEX-15minute-Hist
/data/CESC-15minute-Hist
/data/CHOLAFIN-15minute-Hist
/data/CIPLA-15minute-Hist
/data/COALINDIA-15minute-Hist
/data/COLPAL-15minute-Hist
/data/CONCOR-15minute-Hist
/data/CUMMINSIND-15minute-Hist
/data/DABUR-15minute-Hist
/data/DHFL-15minute-Hist
/data/DISHTV-15minute-Hist
/data/DIVISLAB-15minute-Hist
/data/DLF-15minute-Hist
/data/DRREDDY-15minute-Hist
/data/EICHERMOT-15minute-Hist
/data/ENGINERSIN-15minute-Hist
/data/ESCORTS-15minute-Hist
/data/EXIDEIND-15minute-Hist
/data/FEDERALBNK-15minute-Hist
/data/GAIL-15minute-Hist
/data/GLENMARK-15minute-Hist
/data/GMRINFRA-15minute-Hist
/data/GODREJCP-15minute-Hist
/data/GRASIM-15minute-Hist
/data/HAVELLS-15minute-Hist
/data/HCLTECH-15minute-Hist
/data/HDFC-15minute-Hist
/data/HDFCBANK-15minute-Hist
/data/HEROMOTOCO-15minute-Hist
/data/HEXAWARE-15minute-Hist
/data/HINDALCO-15minute-Hist
/data/HINDPETRO-15minute-Hist
/data/HINDUNILVR-15minute-Hist
/data/HINDZINC-15minute-Hist
/data/IBULHSGFIN-15minute-Hist
/data/ICICIBANK-15minute-Hist
/data/IDBI-15minute-Hist
/data/IDEA-15minute-Hist
/data/IDFCFIRSTB-15minute-Hist
/data/IGL-15minute-Hist
/data/INDIANB-15minute-Hist
/data/INDIGO-15minute-Hist
/data/INFRATEL-15minute-Hist
/data/INFY-15minute-Hist
/data/IOC-15minute-Hist
/data/ITC-15minute-Hist
/data/JINDALSTEL-15minute-Hist
/data/JSWSTEEL-15minute-Hist
/data/JUBLFOOD-15minute-Hist
/data/JUSTDIAL-15minute-Hist
/data/KAJARIACER-15minute-Hist
/data/KOTAKBANK-15minute-Hist
/data/LICHSGFIN-15minute-Hist
/data/LT-15minute-Hist
/data/LTFH-15minute-Hist
/data/LUPIN-15minute-Hist
/data/MANAPPURAM-15minute-Hist
/data/MARICO-15minute-Hist
/data/MARUTI-15minute-Hist
/data/MCDOWELL-N-15minute-Hist
/data/MCX-15minute-Hist
/data/MFSL-15minute-Hist
/data/MINDTREE-15minute-Hist
/data/MM-15minute-Hist
/data/MMFIN-15minute-Hist
/data/MOTHERSUMI-15minute-Hist
/data/MRF-15minute-Hist
/data/MUTHOOTFIN-15minute-Hist
/data/NATIONALUM-15minute-Hist
/data/NBCC-15minute-Hist
/data/NESTLEIND-15minute-Hist
/data/NMDC-15minute-Hist
/data/NTPC-15minute-Hist
/data/OFSS-15minute-Hist
/data/OIL-15minute-Hist
/data/ONGC-15minute-Hist
/data/PAGEIND-15minute-Hist
/data/PEL-15minute-Hist
/data/PETRONET-15minute-Hist
/data/PFC-15minute-Hist
/data/PIDILITIND-15minute-Hist
/data/PNB-15minute-Hist
/data/POWERGRID-15minute-Hist
/data/PVR-15minute-Hist
/data/RAMCOCEM-15minute-Hist
/data/RAYMOND-15minute-Hist
/data/RECLTD-15minute-Hist
/data/RELCAPITAL-15minute-Hist
/data/RELIANCE-15minute-Hist
/data/RELINFRA-15minute-Hist
/data/SAIL-15minute-Hist
/data/SBIN-15minute-Hist
/data/SHREECEM-15minute-Hist
/data/SIEMENS-15minute-Hist
/data/SRF-15minute-Hist
/data/SRTRANSFIN-15minute-Hist
/data/STAR-15minute-Hist
/data/SUNPHARMA-15minute-Hist
/data/SUNTV-15minute-Hist
/data/TATACHEM-15minute-Hist
/data/TATAELXSI-15minute-Hist
/data/TATAGLOBAL-15minute-Hist
/data/TATAMOTORS-15minute-Hist
/data/TATAMTRDVR-15minute-Hist
/data/TATAPOWER-15minute-Hist
/data/TATASTEEL-15minute-Hist
/data/TCS-15minute-Hist
/data/TECHM-15minute-Hist
/data/TITAN-15minute-Hist
/data/TORNTPHARM-15minute-Hist
/data/TORNTPOWER-15minute-Hist
/data/TVSMOTOR-15minute-Hist
/data/UBL-15minute-Hist
/data/ULTRACEMCO-15minute-Hist
/data/UNIONBANK-15minute-Hist
/data/UPL-15minute-Hist
/data/VEDL-15minute-Hist
/data/VOLTAS-15minute-Hist
/data/WIPRO-15minute-Hist
/data/YESBANK-15minute-Hist
/data/ZEEL-15minute-Hist